*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
}
h1, .jp h2, .end h2{
    color: blue;
}

h2{
    margin-bottom: 1%;
    color: black;
    font-weight: bold;
}
.water{
    font-weight: bold;
}
   
.jp{
    display: flex;
    align-items: center;
}
.tooth{
    margin: 2%;
    margin-top: 10%;
}
.spy{
    margin: 2%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: blue; 
    border-radius: 5px;
    margin: 10px;
    gap: 2%;
}
main{
    display: flex;
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    margin: 10px;
    margin-top: auto;
}
.main{
    display: flex;
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    margin: 10px;   
    margin-top: 2%;
    
}

.leg{
    margin: 2%;
}
.lit{
    margin: 2%;
    margin-top: 5%;
}
footer{
    display: flex;
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    margin: 10px;
      
}
.fit{
    margin: 2%;
}
.web{
    margin: 2%; 
    margin-top: 10%;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    margin: 10px;
    margin-top: 2%;
    
    
}
    

.end{
    display: flex;
    align-items: center;
    margin: 1%;
}
.bottons{
    background-color: rgb(30, 48, 218);
    color: white;
    width: 20%;
    padding: 0.5%;
    border: none;
    border-radius: 5px;
    
}
.final{
    margin: 1%;
}
.paste{
    padding: 20px;
}
button{
    padding: 10px;
    color: blue;
    border-radius: 8px;
    border-color:rgb(30, 48, 218); 

/* }@media screen and (min-width:){ */
    
}





